* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* 10px */
    font-size: 62.5%;

    --color-background: hsl(195, 46%, 40%);

    --color-title: hsl(240, 6%, 13%);
    --text-title: 1.6rem;

    --color-article: hsl(240, 5%, 7%);
    --text-article: 1.4rem;
}

html, input {
    /* font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    font-family: "Mulish", sans-serif; */
    font: 400 var(--text-title)/160% "Mulish", sans-serif;

    color: var(--color-title);
}

h1, h2, h3 {
    /* Title */
    font-size: 2.4rem;

    /* Platform Aliases/Shape principal */
    color: var(--color-title);

    line-height: 100%;
}

h3 {
    font-size: 1.8rem;
    cursor: pointer;
}

p {
    font-size: 1.2rem;
}

img {
    width: 100%;
    height: auto;

    cursor: pointer;
}

.text-article {
    font-size: var(--text-article);
}

.container {
    padding-inline: 2rem;
    max-width: calc(38.2rem + (2rem * 2));
    margin-inline: auto;
    text-align: justify;
}

/* header */

header {
    background-color: var(--color-background);
    padding: 1.2rem 2.8rem;
}

header .container {
    max-width: 37.4rem;
    margin-inline: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.6rem;
}

header a {
    line-height: 0;
}

header img:last-child {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

header form input {
    background: rgb(255 255 255 / 0.2);

    border: none;
    border-radius: 0.4rem;
    padding: 1.2rem 1.6rem;

    font-weight: 600;
    line-height: 100%;

    color: white;
}

header form input::placeholder {
    color: white;
}

/* main */

main h1 {
    margin-top: 2.5rem;
}

main button {
    margin-top: 1.6rem;

    padding-inline-end: 1rem;
}

main p {
    margin-top: 2.5rem;
}

button {
    all: unset;

    transition: 150ms;
}

button:hover { 
    transform: scale(1.1) rotate(10deg);
}

/* aside */

aside {
    margin-top: 2.5rem;
}

aside section {
    margin-top: 3rem;

    display: grid;
    gap: 3.2rem;
}

aside p {
    cursor: pointer;
}

section article {
    display: grid;

    grid-template-columns: 15.0rem 1fr;
    gap: 1.6rem;
}

section article p {
    margin-top: 0.8rem;
}

article img {
    border-radius: 5px;
}

/* footer */

footer {
    background-color: var(--color-background);
    color: white;
    text-align: center;
    padding-block: 2.4rem;
    margin-top: 4rem;
    font-size: 1.6rem;
}

/* desktop version */

@media (width > 1280px) {
    img {
        border-radius: 5px;
    }
    
    #app {
        display: grid;
        grid-template-areas:
        "header header"
        "main aside"
        "footer footer";

        gap: 4.4rem 4rem;
    }

    header .container,
    .container {
        max-width: initial;
        margin-inline: initial;
        padding: initial;
    }

    header {
        grid-area: header;
    }

    header .container {
        max-width: 120rem;
        margin-inline: auto;
    }

    header form {
        flex: 1;
    }

    header form input {
        width: 100%;
    }

    main {
        grid-area: main;
    }

    main.container {
        max-width: 80rem;
        margin-left: auto;
    }

    main.container p {
        font-size: 1.6rem;
    }

    aside {
        grid-area: aside;
    }

    aside.container {
        max-width: 38.4rem;
        margin-top: 0;
    }

    footer {
        grid-area: footer;
        margin-top: 0;
    }
}

header .container a img {
    animation: logo 1200ms 1000ms backwards;
}

header .container img:hover {
        scale: 1.2;
        transition: all 300ms;
}

@keyframes logo {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
}

header .container img {
    animation: user 1400ms 1200ms backwards;
}

@keyframes user {
    from {
        opacity: 0;
        transform: translateY(+100%);
    }
}

header, main {
    animation: top 500ms 100ms backwards;
}

@keyframes top {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
}

aside img {
    animation: aside-img 800ms 600ms backwards;
}

aside img:hover {
    scale: 1.1;
    transition: all 300ms;
}

@keyframes aside-img {
    from {
        opacity: 0;
        transform: translateY(+50%);
    }
  }

aside .content {
    animation: aside-text 1000ms 800ms backwards;
}

@keyframes aside-text {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
  }

